body .content{
    background: url("../img/bg.jpg") center center no-repeat !important;
}

body header.bar-nav {
    opacity: 0.7;
}

div#detail p,
div#detail strong,
div#detail {
    color: #000000 !important;
}

div#detail p {
    font-size: 100%;
    line-height: 130%;
}

.foot {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.foot a {
    color: #ffffff;

}