<table>
    <tr>
        <td>
            <img ng-src="{{data.poster_url}}"/>
        </td>
        <td>
            <h2>{{data.names.cs}}</h2>
            {{data.year}} | {{data.rating}} % <br>
            {{data.runtime}}<br>
            <a href="{{data.csfd_url}}">
                <button class="btn">odkaz na čsfd</button>
            </a>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <p class="content-padded" style="color:#000">{{data.plot}}</p>
        </td>
    </tr>
</table>