<p class="content-padded" style="text-align: center">
    <img src="img/logo.svg" width="400">
</p>

<form>
    <input type="text" placeholder="Název filmu" name="movieName" id="movieName" ng-model="movieName">

    <button class="btn btn-primary btn-block" id="find" ng-click="search()">Vyhledat Film</button>
</form>

<ul class="table-view">
    <li class="table-view-cell media" ng-repeat="movie in data">
        <a href="#/movie/{{movie.id}}" class="navigate-right" data-transition="slide-in">
        <span class="badge">{{movie.year}}</span>
        {{movie.names.cs}}
        </a>
    </li>
</ul>
